@{
    ViewData["Title"] = "Mad Lib Result";
}

<h2>Your Mad Lib!</h2>

<p>
    One day, @ViewData["UserName"] decided to visit @ViewData["TownName"].
    They packed their favorite snack, @ViewData["FoodType"], and put on their comfiest @ViewData["FootwearType"].
    Hopping into their @ViewData["ColorName"] @ViewData["VehicleType"], they drove off.
    Upon arrival, everyone in @ViewData["TownName"] was eating @ViewData["FoodType"] and wearing
    @ViewData["FootwearType"].
    "What a strange place!" thought @ViewData["UserName"], as they drove their @ViewData["ColorName"]
    @ViewData["VehicleType"] back home.
</p>
